body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Plus Jakarta Sans;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
}

.navBarLogo {
    width: 150px;
    height: 50px;
}

.navMain {
    transition: all 0.3s;
}

.navMain ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navMain li {
    margin: 0;
    padding: 0;
}

.navItem {
    padding: 5px 20px !important;
    font-size: 15px;
    border-radius: 5px;
    transition: all 0.3s;
}

.navItem i {
    font-size: 12px;
    margin-left: 5px;
}

.navItem a {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}

.navItem:hover {
    background-color: #001897;
    color: white;
}

.navItem:hover a {
    color: white;
}

.dropDownButton {
    position: relative;
}

.subNav {
    display: none;
    position: absolute;
    left: 0;
    top: 35px;
    width: max-content;
    padding: 15px 0;
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s;
}

.subNav ul {
    display: flex;
    flex-direction: column;
}

.subNavItem a {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}

.subNavItem:hover a {
    color: white;
}

.subNavItem {
    padding: 5px 15px !important;
    border-radius: 5px;
    transition: all 0.3s;
}

.subNavItem:hover {
    background-color: #001897;
}

.dropDownButton:hover .subNav {
    display: block;
}

.navButton {
    border: none;
    background-color: #001897;
    color: white;
    padding: 7px 15px;
    font-size: 15px;
    border-radius: 20px;
    margin: 5px 0;
    transition: all 0.3s;
}

.navButton:hover {
    background-color: white;
    color: black;
    border: 1px solid #001897;
}

.mobileNav {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navSpanOne,.navSpanTwo,.navSpanThree {
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: black;
    padding: 0;
    margin: 3px 0;
    transition: all 0.3s;
}

.mobileNav.active .navSpanOne {
    transform: rotate(45deg) translate(7px, 5px);
}

.mobileNav.active .navSpanTwo {
    opacity: 0;
}

.mobileNav.active .navSpanThree {
    transform: rotate(-45deg) translate(7px, -6px);
}

/* Main content */

.main-header {
    margin: 120px auto 50px auto;
    padding: 0 50px 0 50px ;
}

.main-header h1{
    font-size: 53px;
    font-weight: 700;
    text-align: left;
    width: 65%;
}

.text1 p {
    font-size: 16px;
}

.desktopBtn, .firstBtn{
    text-decoration: underline;
    font-weight: 500;
    color: black;
    font-size: 16px;
}

.desktopBtn img {
    width: 16px;
    height: 16px;
}

.text1 i {
    margin-left: 10px;
}

.banner-section {
    height: 600px;
}

.text2 p {
    font-size: 36px;
}

.btn-group1 {
    gap: 5px;
}

.btn1 {
    background-color: #F1F1F1;
    border: 1px solid #F1F1F1;
    border-radius: 20px;
    font-size: 12px;
    padding: 5px 8px;
}

/* Slider */

.swiper-slide img{
    width: 100%;
    height: auto;
}

.button-next {
    float: right;
    height: 45px;
    width: 45px;  
    border: 1px solid #444444;
    border-radius: 50%;
    color: #444444;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.button-next:hover {
    transform: scale(1.1);
}

.button-next img {
    width: 16px;
    height: 16px;
}

.swipper-wrapper {
    clear: both;
}

.mobileBtn {
    display: none;
}

/* About Us */

.contactUs {
    padding: 12px;
    background: #001897;
    border: 1px solid #001897;
    border-radius: 31.5px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    width: 25%;
    text-align: center;
}

.contactUs:hover {
    background-color: #000F5C;
}

/* .parallax {
    background-image: url("./images/image\ 17.png"); 
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.imgBtn {
    position: absolute; 
    bottom: 10%;
    right: 50px;
    padding: 12px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 31.5px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    width: max-content;
    text-align: center;
} */

.parallax {
    background-image: url("./images/image\ 17.png");
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.imgBtn {
    position: fixed;
    bottom: 10%;
    right: 50px;
    padding: 12px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 31.5px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    width: max-content;
    text-align: center;
    display: none; 
}

/* Accordion */
.accordion-item {
    border-bottom: 0;
}

/* Our Process */
.ourProcess {
    background-color: #F5F5F5;
}

.processBtnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourProcessbtn {
    padding: 12px;
    border: 2px solid black;
    border-radius: 31.5px;
    color: black;
    text-decoration: none;
    font-size: 14px;
    width: max-content;
    text-align: center;
    transition: all 0.5s;
}

.ourProcessbtn:hover {
    background: #001897;
    border: 1px solid #001897;
    color: white;
}

.ourProcessbtn i {
    margin-left: 5px;
}

.card {
    height: 100%;
    transition: all 0.5s;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card:hover {
    transform: scale(0.95);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Form */
.formHeader {
    font-size: 32px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 0;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=text], select, textarea:focus {
    outline: none;
}

input[type=text], select, textarea::placeholder {
    color: #444444;
}

select {
    background-color: white;
}
  
input[type=submit] {
    background-color: #001897;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 31.5px;
    cursor: pointer;
    width: 40%;
    font-size: 14px;
    transition: all 0.5s;
}
  
input[type=submit]:hover {
    background-color: #000F5C;
}

.formImg {
    padding: 10px;
    text-align: center;
}

/* Get In Touch */
.getInTouchDiv {
    text-align: center;
}

.getInTouchBtn {
    padding: 15px 30px;
    background: #000F5C;
    border: 1px solid #000F5C;
    border-radius: 31.5px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: max-content;
    text-align: center;
}

.getInTouchBtn:hover {
    background-color: #001897;
    border: 1px solid #001897;
}

.getInTouchPara1 {
    font-size: 65px;
}

.getInTouchPara2 {
    font-size: 26px;
}

/*Footer */
.footerSection2 {
    text-align: center;
    color: #706E6E;
    font-size: 14px;
}

.footerHeading {
    font-size: 14px;
    font-weight: 800;
}

.button-icon {
    height: 45px;
    width: 45px;  
    border: 1px solid #444444;
    border-radius: 50%;
    color: #444444;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    margin: 15px 0;
}

.button-icon:hover {
    transform: scale(1.1);
}

/*Video*/

section {
    height: 100vh;
    padding: 50px;
    overflow: hidden;
   
    .zoom {
      position: relative;
      margin: 0 auto;
      width: 100%;
      height: 900px;
      
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
  
      .image {
        grid-area: 1 / 1 / 2 / 2;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  

/*Nav styles*/
@media only screen and (max-width: 991px) {
    nav {
        padding: 15px 30px;
    }

    .navMain {
        position: fixed;
        background-color: white;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100vh - 55px);
        transform: translateX(-100%);
        z-index: 6;
    }

    .navMain.active {
        transform: translateX(0);
    }

    .navMain ul {
        flex-direction: column;
    }

    .navItem {
        width: 100%;
        font-size: 18px;
        padding: 15px 40px !important;
        border-bottom: 1px solid #F3F1EA;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0;
    }

    .navItem.active {
        background-color: #001897;
    }

    .navItem.active a {
        color: white;
    }

    .navItem i {
        font-size: 18px;
        margin-left: auto;
    }

    .subNav {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0;
        height: calc(100vh - 55px);
        z-index: 7;
        transform: translateX(-100%);
    }

    .subNav.active {
        transform: translateX(0);
    }

    .subNavItem {
        width: 100%;
        padding: 15px 40px !important;
        border-bottom: 1px solid #F3F1EA;
        border-radius: 0;
    }

    .subNavItem.active {
        background-color: #001897;
    }

    .subNavItem.active a {
        color: white;
    }

    .subNavItem a {
        font-size: 18px;
    }

    #subNavClose {
        background-color: #000F5C;
        color: white;
        position: relative;
        width: 100%;
        padding: 15px 40px !important;
        border-bottom: 1px solid #F3F1EA;
        font-size: 18px;
    }

    #subNavClose a {
        color: white;
        text-decoration: none;
    }

    #subNavClose i {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
    }

    .navBottomList {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
        padding: 15px 40px !important;
        margin-top: 230px !important;
    }

    .navBottomList a {
        text-decoration: none;
        color: black;
        font-size: 14px;
    }
} 
/* nav styles */


/* Laptop */
@media only screen and (max-width: 1399px) {
    .main-header {
        padding: 0;
        margin: 120px auto 50px 62px
    }

    .mobileBtn {
        display: none;
    }
} 

/* Mobile */
@media only screen and (max-width: 767px) {
    /* Main content */

    .main-header {
        padding: 30px;
        margin: 0;
    }

    .main-header h1{
        font-size: 28px;
        width: 80%;
    }

    .button-next {
        display: none;
    }

    .contactUs {
        width: 100%;
    }

    .desktopBtn {
        display: none;
    }

    .mobileBtn {
        display: block;
        text-decoration: underline;
        font-weight: 500;
        color: black;
        font-size: 16px;
        margin: 0px auto;
    }

    .accordion-item {
        border-bottom: 1px solid #DEDEDE;
    }

    .formImg {
        width: 100%;
    }

    .getInTouchDiv {
        text-align: left;
    }

    .getInTouchPara1 {
        font-size: 30px;
    }

    .getInTouchPara2 {
        font-size: 20px;
    }

    .footerSection2 {
        text-align: left;
    }
}


