body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Plus Jakarta Sans;
}

/*Navbar*/

.navbar .navbar-nav .nav-link {
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: #001897;
    color: white;
    border-radius: 10px;
}

.navbar-nav {
    gap: 14px;
}

.btn-talk {
    width: 118px;
    height: 44px;
    background-color: #001897;
    border-radius: 31.5px;
}

.btn-talk:hover {
    background-color: #000F5C;
}
  
.sm-icons {
    display: none;
}

.sm-icons .nav-link {
    padding-right: 1em;
}
  
/* Main content */

.main-header {
    margin: 120px auto 50px auto;
    padding: 0 50px 0 50px ;
}

.main-header h1{
    font-size: 53px;
    font-weight: 700;
    text-align: left;
    width: 65%;
}

.text1 p {
    font-size: 16px;
}

.desktopBtn, .firstBtn{
    text-decoration: underline;
    font-weight: 500;
    color: black;
    font-size: 16px;
}

.desktopBtn img {
    width: 16px;
    height: 16px;
}

.text1 i {
    margin-left: 10px;
}

.banner-section {
    height: 600px;
}

.text2 p {
    font-size: 36px;
}

.btn-group1 {
    gap: 5px;
}

.btn1 {
    background-color: #F1F1F1;
    border: 1px solid #F1F1F1;
    border-radius: 20px;
    font-size: 12px;
    padding: 5px 8px;
}

/* Slider */

.swiper-slide img{
    width: 100%;
    height: auto;
}

.button-next {
    float: right;
    height: 45px;
    width: 45px;  
    border: 1px solid #444444;
    border-radius: 50%;
    color: #444444;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.button-next:hover {
    transform: scale(1.1);
}

.button-next img {
    width: 16px;
    height: 16px;
}

.swipper-wrapper {
    clear: both;
}

.mobileBtn {
    display: none;
}

/* About Us */

.contactUs {
    padding: 12px;
    background: #001897;
    border: 1px solid #001897;
    border-radius: 31.5px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    width: 25%;
    text-align: center;
}

.contactUs:hover {
    background-color: #000F5C;
}

/* Accordion */
.accordion-item {
    border-bottom: 0;
}

/* Our Process */
.ourProcess {
    background-color: #F5F5F5;
}

.processBtnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourProcessbtn {
    padding: 12px;
    border: 2px solid black;
    border-radius: 31.5px;
    color: black;
    text-decoration: none;
    font-size: 14px;
    width: max-content;
    text-align: center;
    transition: all 0.5s;
}

.ourProcessbtn:hover {
    background: #001897;
    border: 1px solid #001897;
    color: white;
}

.ourProcessbtn i {
    margin-left: 5px;
}

.card {
    height: 100%;
    transition: all 0.5s;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card:hover {
    transform: scale(0.95);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Form */
.formHeader {
    font-size: 32px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 0;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: #444444;
}

input[type=text], select, textarea:focus {
    outline: none;
}
  
input[type=submit] {
    background-color: #001897;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 31.5px;
    cursor: pointer;
    width: 40%;
    font-size: 14px;
    transition: all 0.5s;
}
  
input[type=submit]:hover {
    background-color: #000F5C;
}

.formImg {
    padding: 10px;
    text-align: center;
}

/* Get In Touch */
.getInTouchDiv {
    text-align: center;
}

.getInTouchBtn {
    padding: 15px 30px;
    background: #000F5C;
    border: 1px solid #000F5C;
    border-radius: 31.5px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: max-content;
    text-align: center;
}

.getInTouchBtn:hover {
    background-color: #001897;
    border: 1px solid #001897;
}

.getInTouchPara1 {
    font-size: 65px;
}

.getInTouchPara2 {
    font-size: 26px;
}

/*Footer */
.footerSection2 {
    text-align: center;
    color: #706E6E;
    font-size: 14px;
}

.footerHeading {
    font-size: 14px;
    font-weight: 800;
}

.button-icon {
    float: right;
    height: 45px;
    width: 45px;  
    border: 1px solid #444444;
    border-radius: 50%;
    color: #444444;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.button-icon:hover {
    transform: scale(1.1);
}

/* Laptop */
@media only screen and (max-width: 1399px) {
    .main-header {
        padding: 0;
        margin: 120px auto 50px 62px
    }

    .mobileBtn {
        display: none;
    }
} 
/* Mobile */
@media only screen and (max-width: 767px) {
    /*Navbar*/

    .navBar{
        padding: 5px 30px;
    }

    .navbar-nav {
        margin-top: 20px;
    }

    .navbar .navbar-nav .nav-item:hover {
        background-color: #001897;
        padding: 5px;
    }

    .navbar .navbar-nav .nav-link:hover {
        color: white;
    }

    .sm-icons {
      flex-direction: row;
      display: flex;
      color: black;
      margin-top: 240px;
    }

    .sm-icons li a{
        font-size: 13px!important;
    }

    .navbar-toggler {
        border: 0px;
    }

    .btn-talk {
        display: none;
    }

    /* Main content */

    .main-header {
        padding: 30px;
        margin: 0;
    }

    .main-header h1{
        font-size: 28px;
        width: 80%;
    }

    .button-next {
        display: none;
    }

    .contactUs {
        width: 100%;
    }

    .desktopBtn {
        display: none;
    }

    .mobileBtn {
        display: block;
        text-decoration: underline;
        font-weight: 500;
        color: black;
        font-size: 16px;
        margin: 0px auto;
    }

    .accordion-item {
        border-bottom: 1px solid #DEDEDE;
    }

    .formImg {
        width: 100%;
    }

    .getInTouchDiv {
        text-align: left;
    }

    .getInTouchPara1 {
        font-size: 30px;
    }

    .getInTouchPara2 {
        font-size: 20px;
    }

    .footerSection2 {
        text-align: left;
    }
}


